# dependencies
node_modules/
package-lock.json

# site
build

# lib
packages/lib/*

# un-ignore src and specific files
!packages/lib/src/
!packages/lib/.npmignore
!packages/lib/clean.sh
!packages/lib/eslint.config.js
!packages/lib/package.json
!packages/lib/tsconfig.json
!packages/lib/LICENSE
!packages/lib/README.md