:root {
  --background-color: #f4f4fb;
  --code: #b71c1c;
}

[data-theme="dark"] {
  --background-color: #222;
  --code: #f90404;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overscroll-behavior: none;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

code {
  color: var(--code);
  font-size: 90%;
  border-radius: 4px;
  padding: 0 0.25rem;
}

.bordering {
  border: 2px solid red;
}

.red {
  color: #ff4433;
}
.bg-red {
  background-color: #ff4433;
}

.orange {
  color: #ff6000;
}

.yellow {
  color: #ffdd00;
}

.green {
  color: #22aa77;
}
.bg-green {
  background-color: #22aa77;
}

.blue {
  color: #3377dd;
}
.bg-blue {
  background-color: #3377dd;
}

.white {
  color: white;
}

.bg-purple {
  background-color: #5533aa;
}
